@import "normalize.css";
@import "material-icons/iconfont/material-icons.css";
/*nulling*/
*,
*::before,
*::after {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Inter", sans-serif;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  background-color: #fff;
  font-weight: 400;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*common*/

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}


